body{
	background: black;
	color: white;
}


#about-me-body{
	border-right: 20px solid #3E3E40;
	border-left: 20px solid #3E3E40;
	border-top: 20px solid #3E3E40;
}

#about{
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	color: grey;
	font-family: 'Quicksand', sans-serif;
}

#portfolio{
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	color: grey;
	font-family: 'Quicksand', sans-serif;
}

#contact{
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	color: grey;
	font-family: 'Quicksand', sans-serif;

}

#about:hover,
#portfolio:hover,
#contact:hover{
	color: #002434;
	font-size:15px;
}

#copy{
	font-size: 7px;
	float: right;
}
nav{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
	background: #3E3E40 ;
	border-radius: 100%;
	font-family: 'Quicksand', sans-serif;

}


h2{
	text-align: center;
}

em{
	font-size: 10px;
	color: #a6a6a6;
}

@media only screen and (min-width:1024px) {

	#content{
	font-size: 17px;
	color: #a6a6a6;
	}

	#self{
		width: 100%;
	}

	#about,
	#contact,
	#portfolio{
		font-size: 25px;
	}

#about:hover,
	#contact:hover,
	#portfolio:hover{
		font-size: 20px;
	}

	.name{
		width= 100%;
	}
}


#tigerlight,
#type-poster {

	margin-top: 200px;
}

#animal-abuse,
#tigerlight,
#type-poster{
	border: 10px solid #3E3E40;

}

.name{
	position: fixed;
}

.left{
	float: left;
	margin-left: -350px;
}

.title-link{
	color: #a6a6a6 ;
	font-family: 'Quicksand', sans-serif;
}

.title-link:hover{
	color: #002434;
}

.piece-desc{
	color: #a6a6a6 ;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;

}

